* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

.section_one {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contact {
    width: 1000px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adress {
    width: 400px;
    color: brown;
}

.phone_number {
    margin-top: 20px;
    color: brown;
    font-size: 20px;
}

.phone_block {
    display: flex;
    width: 350px;
    justify-content: space-around;
}

.navbar {
    margin-top: 10px;
    width: 100%;
    height: 150px;
    display: flex;

}

.navbarl_left {
    width: 40%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 60px;
    height: 90px;

}

.logo_text {
    margin-left: 50px;
    font-family: 'Song Myung';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    background: linear-gradient(180deg, #573923 0%, #A99896 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-blend-mode: multiply;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar_right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 150px;
}

.navbar_list {
    width: 500px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.navbar-item a {
    color: brown;
    font-size: 20px;
    font-weight: 600;
}

.finish_section {
    width: 100%;
    margin-top: 13px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(75, 9, 9);
}

.finish_section_text {
    font-family: 'Sofia';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 57px;
    color: white;
}