<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/buyurtma.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
  <title>Coffee</title>
</head>

<body>

  <div class="navbar">

    <div class="navbarl_left">

      <img class="logo" src="../photo/Vector.png">
      <p class="logo_text">COFFEE COVET</p>

    </div>

    <div class="navbar_right">

      <ul class="navbar_list">

        <li class="navbar-item">

          <a  href="./contact.html">Bog'lanish</a>
        
        </li>
        <li class="navbar-item">
        
          <a href="./buyurtma.html">Buyurtma berish</a>
        
        </li>
        <li class="navbar-item">
        
          <a href="./mahsulot.html">Mahsulot haqida</a>
        
        </li>
      </ul>
    </div>

  </div>

  <div class="section_one">

    <form class="form_data"  @submit.prevent="createContact">
      
     <div  class="mahsulot_turlari">
      <label for="cars">Mahsulot tanlang:</label>

      <select name="mahsulot" id="cars" v-model="form.mahsulot" >
        <option value="volvo">tovar</option>
        <option value="saab">tovar</option>
        <option value="mercedes">tovar</option>
        <option value="audi">tovar</option>
        <option value="mercedes">tovar</option>
        <option value="audi">tovar</option>
      </select>
     </div>
      <div class="info">
        
      <div class="nechta">
        <p>Soni</p>
        <input type="number" name="son" v-model="form.son">
      </div>
      
     <div class="manzil_text">
      <p>Manzil</p>
      <textarea name="manzil" id="" cols="30" rows="10" v-model="form.manzil"></textarea>
     </div>
    
      <div class="tele">
        <p>Telefon raqami</p>
        <input type="number" name="telefon" v-model="form.telefon">
      </div>
      </div>
      <button type="submit">Saqlas </button>
    </form>
    

  </div>

  <div class="finish_section">

    <p class="finish_section_text">Sizning barcha qahva istaklaringiz uchun.</p>

  </div>

</body>
<script src="../js/frontend.js"></script>
</html>